.vscode/
venv/
venv*/
.cursor/
.worktrees/

__pycache__/
.mypy_cache/
.pytest_cache/

htmlcov/
/.coverage
/.coverage.*
/coverage.xml
gl-codequality.json

/build/
/dist/
*.egg-info/

# tests
/log/
/logs/
dut_logs/
dut.log
tests/utility/_files/test-bin
performance_result.json
xunit_report/

pytest_log/
pytest_xunit_output/

# docs
/docs/_build/
/docs/api/_generated/
