.vscode/
venv/

__pycache__/
.mypy_cache/
.pytest_cache/

htmlcov/
/.coverage
/.coverage.*
gl-codequality.json

/build/
/dist/
*.egg-info/

/log/
/logs/
dut_logs/
dut.log

# docs
/docs/*.rst
/docs/_build/
!/docs/index.rst
