.vscode/
venv/
venv*/
.cursor/

__pycache__/
.mypy_cache/
.pytest_cache/

htmlcov/
/.coverage
/.coverage.*
/coverage.xml
gl-codequality.json

/build/
/dist/
*.egg-info/

# tests
/log/
/logs/
dut_logs/
dut.log
tests/utility/_files/test-bin
performance_result.json


# docs
/docs/*.rst
/docs/_build/
!/docs/index.rst
