# Run `pre-commit autoupdate` to update to the latest pre-commit hooks version.
---
minimum_pre_commit_version: 3.3.0                        # Specifies the minimum version of pre-commit required for this configuration
default_install_hook_types: [pre-commit,commit-msg]      # Default hook types to install if not specified in individual hooks
default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace                          # Removes trailing whitespaces from lines
      - id: end-of-file-fixer                            # Ensures files end with a newline
      - id: check-executables-have-shebangs              # Checks executables have a proper shebang
      - id: mixed-line-ending                            # Detects mixed line endings (CRLF/LF)
        args: ['-f=lf']                                  # Forces files to use LF line endings

  - repo: https://github.com/pylint-dev/pylint
    rev: v3.2.7
    hooks:
    -   id: pylint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
    - id: mypy
      additional_dependencies:
      - 'types-psutil'
      - 'types-PyYAML'
      - 'typing_extensions'

  - repo: https://github.com/espressif/conventional-precommit-linter
    rev: v1.10.0
    hooks:
      - id: conventional-precommit-linter
        stages: [commit-msg]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["--write-changes"]
        additional_dependencies: [tomli]
